@model Employee

<h1>Add Employees</h1>

<form method="post" action="Add">
    <div class="mb-3">
        <label for="" class="form-label">name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>